name: CI Build, Test, and Push Docker Image

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
      

  
    

permissions:
    contents: write
    pull-requests: write

jobs:
    # JOB 1: PADRONIZAÇÃO E QUALIDADE
    code-quality:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.10'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        - name: Check Commit Messages (Conventional Commits)
          if: github.event_name == 'pull_request'
          run: |
            cz check --rev-range origin/${{ github.base_ref }}..HEAD

        - name: Lint and Format check with Ruff
          run: |
            # --check apenas verifica. Se houver erro, o pipeline falha.
            ruff format --check .
            ruff check .

        - name: Lint Dockerfile with Hadolint
          uses: hadolint/hadolint-action@v3.1.0
          with:
            dockerfile: Dockerfile
            ignore: DL3008

        - name: Run tests with coverage
          run: PYTHONPATH=. pytest --cov=. --cov-report=term-missing


    # JOB 2: BUILD, PUSH DO DOCKER IMAGE
    build-and-push:
      needs: code-quality 
      runs-on: ubuntu-latest
      
      if: success() && startsWith(github.ref, 'refs/tags/v')
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.10'

        - name: Install dependencies
          run: pip install -r requirements.txt
        
        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

        - name: Extract version from Git tag
          run: echo "IMAGE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          
        - name: Build and push Docker image
          uses: docker/build-push-action@v5
          with:
            context: .
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/hello-app:${{ env.IMAGE_TAG }}